.form-data {
    margin: auto;
    text-align: center;
}

body {
    background-color: #0468BF;
}

.submit-button {
    margin:7px;
}

.form-box {
    margin: 250px auto;
    background-color: #EBF2E1;
    border-radius: 7px;
    width: 500px;
}
