.form-data {
    margin: auto;
    text-align: center;
}

body {
    padding: 30%;
    background-color: #0468BF;
}

.login-button {
    margin:7px;
}

#login-box {
    background-color: #EBF2E1;
    border-radius: 7px;
}
