body {
    padding-top: 65px;
    height: 100vh;
    /* font-family: "Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif; */
}

.navbar {
    border-bottom: 1px solid #999;
}

.content {
    height: 100%;
}

#card-spot {
    height: 90%;
    width: 100%;
    margin: 0 auto;
}

.person-card {
    overflow-y: scroll;
}

.card {
    height: 100%;
    width: 90%;
    border: 1px solid red;
    margin: 0 auto;

    transition: width 0.5s;
}

.card.noped {
    width: 0;
    margin-left: 5%;
}

.card.liked {
    width: 0;
    margin-right: 5%;
}

.pdf {
    height: 80%;
    background-color: beige;
}

.buttons {
    padding-top: 10px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.job-header {
    padding: 30px;
    background-color: #EBF2E1;
    border: 1px solid black;
}

.job-description {
    overflow-y: scroll;
}